.section-title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  padding-top: 64px;
}
